<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :flight_id, style: "display: block" %>
    <%= form.collection_select :flight_id, Flight.order(:flight_number), :id, :flight_number %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.label :passenger_name, style: "display: block" %>
    <%= form.text_field :passenger_name %>
  </div>

  <div>
    <%= form.label :seat_number, style: "display: block" %>
    <%= form.select :seat_number, options_for_select(['1A','1B','2A','2B','4A','4B','7A','7B']) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
